# Exchanges e APIs
python-binance==1.0.19
websockets==12.0
requests==2.32.3

# Config e segurança
python-dotenv==1.0.1
cryptography==43.0.1
pydantic==2.9.2

# Logging e serialização
loguru==0.7.2
orjson==3.10.7

# Performance
numpy==1.26.4
numba==0.60.0

# Async / Networking
aiohttp==3.10.8
uvloop==0.20.0; platform_system!="Windows"
web3==6.20.1